language: python

python:
  - '3.6'
  - '3.5'
  - '3.4'
  - '3.3'
  - '2.7'
  - '2.6'

install:
  pip install -e . pytest pytest-cov coveralls

script:
  py.test --cov=nass --cov-report=term-missing -vv tests/


after_success:
  coveralls

env:
  global:
    secure: fuHIRKe0RpoQGqwnPLeGLlEbHHsFbJaF27Kt2WpdLbS4U2OKFIu6BeRtZ1x9ssvNBdwlqdDm4nslKlhUH87PwHGH8Mvl669jJaAaenIds7l0FSMs2iS2wcrLXouSTGaO+FLcgwxdXdmf/MQw3u8+KAk3z84sjtEDo+0hz2HRs5yVnVD/QeFaU37WzQqb2HcN5FI/7yI0wdgMAPYfLG7YPh++W6Ek9kPlzhXdnYG66kRMoHEzTmNqhd0JIZk2WoqL3zwaIMc/WDTpLAWaBa/cMAnAs2kqHyV0mR+jqB/2Tp+tBrQPzVp69XzpyIFGR+VFrfamWfJcHJK1xrATB8AOTNfhif0thzrdSB6XcHXbaoZX0lcsK0qjQp7q74GtXW5a8X2das7aKVkTaVi4QmzG+QYBAfXbnVVoutFjX19hxP7H+MkNy7awxvU0XJmEMFiW/J5gt41yKQGUhpy78Zc7n3UTHVAQo4R34PA8c1Q5kmp6lxd209plWBShlKrC08dhkI8SZ7e2LjkLsh2AlVVpHRivA1mCFV0NC3WovQBpyJdG6azBafAxeh51Gg2CuAnSqPjRbI7gEKUm5VlW9AtBTvCJFp1EGXvytzvSglYzCpxA4RbXfhhPk4MQNi+AIMoE/kQwNKRpFuculpmN7IPHNRd1XC34CL5P4MCEJlLEkMI=
